---
---
/*CSS for comic site*/

body {
  /*font-family: 'San Francisco', sans-serif;*/
  font-size: 15px;
  padding-top: 20px;
  background-color: #070247;
  color: #3b4966;
}

.panel {
  background-color: white;
  min-height: 500px;
  padding: 5px;
}

.panel p {
  padding: 0px 25px 0px 25px;
  /*font-family: 'Roboto', sans-serif;*/
}

.panel h1 {
  font-size: 30px;
  font-weight: regular;
  /*font-family: 'Arvo', serif;*/
  padding: 0px 25px 0px 25px;
}

.panel h2 {
  font-size: 20px;
  font-weight: bold;
  /*font-family: 'Arvo', serif;*/
  padding: 0px 25px 0px 25px;
}

.panel h3 {
  font-size: 14px;
  font-weight: bold;
  /*font-family: 'Arvo', serif;*/
  padding: 0px 25px 0px 25px;
}

.panel img {
  height: 100%;
  width: 100%;
}

.center {
  margin: auto;
  float: none;
}



/* HEADER STYLES */
/*=============================*/

.jumbotron {
  /*background-image: url({{ site.url }}/images/header.png);*/
  /*font-family: 'Fredoka One', cursive;*/
}

.container .jumbotron {
  padding: 0px;
  text-align: center;
}

.jumbotron img {
  height: 100%;
  width: 100%;
}

.jumbotron h1 {
  /*font-family: 'Fredoka One', cursive;*/
  color: #ffffff;
}

.jumbotron p {
  /*font-family: 'Roboto', sans-serif;*/
  color: #ffffff;
}

.jumbotron a {
  color: #ffffff;
  text-decoration: none;
}

.jumbotron a:visited {
  color: #ffffff;
}



/* ARCHIVE STYLES */
/*=============================*/

.archive-li {
    /* float: left; */
    display: block;
}

.archive-ul {
  margin: 0px;
  list-style: none;
  color: #3b4966;
}





/* NAVBAR STYLES */
/*=============================*/
.navbar {
  margin-bottom: 0px;
}

.navbar .navbar-default {
  display: inline-block;
  float: none;
  vertical-align: top;
  margin-bottom: none;
}

.navbar .navbar-nav {
  /*font-family: 'Arvo', serif;*/
  margin-left: auto;
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}



/* COMIC PANEL STYLES */
/*=============================*/
.comic-panel {
  max-width: 700px;
  margin-left: auto;
}

.comic-panel h2 {
  text-align: center;
  text-decoration: none;
  color: #3b4966;
}

.comic-panel p {
  text-align: center;
  text-decoration: none;
  color: #3b4966;
  /*font-family: 'Arvo', serif;*/
}

a {
  color: #fc8918
}

a:hover {
  color: #6c6c94
}